p code, li code, h1 code, h2 code, h3 code {
    display: inline-block;
    white-space: no-wrap;
    background: #f6f6f6;
    font-size: .9em;
    line-height: 1.5em;
    color: #464646;
    border: 1px solid #eeeeee;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    -ms-border-radius: 0.4em;
    -o-border-radius: 0.4em;
    border-radius: 0.4em;
    padding: 0 .3em;
    margin: -1px 0;
}

.article-content a {
    color: #21afd3;
}

.article-content a:hover {
    color: #ff6557;
    text-decoration: underline;
}

@font-face {
    font-family: 'CaskaydiaCove Nerd Font';
    src: url('/fonts/subset-CaskaydiaCoveNerdFontComplete-.eot');
    src: url('/fonts/subset-CaskaydiaCoveNerdFontComplete-.eot?#iefix') format('embedded-opentype'),
        url('/fonts/subset-CaskaydiaCoveNerdFontComplete-.woff2') format('woff2'),
        url('/fonts/subset-CaskaydiaCoveNerdFontComplete-.woff') format('woff'),
        url('/fonts/subset-CaskaydiaCoveNerdFontComplete-.ttf') format('truetype'),
        url('/fonts/subset-CaskaydiaCoveNerdFontComplete-.svg#CaskaydiaCoveNerdFontComplete-') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



code[class*="language-"],
pre[class*="language-"] {
	border-radius: .6em;
    font-family: 'CaskaydiaCove Nerd Font' !important;
}

code {
    font-family: 'CaskaydiaCove Nerd Font' !important;
}

.article-content {
    font-family: 'CaskaydiaCove Nerd Font';
}

.original {
    margin: 2em 0 0;
    padding: .5em 1em;
    border-left: 3px solid #fbbc97;
    background-color: #f9f9f9;
    font-size: 14px;
    list-style: none;
}

.footnote-item p {
    line-height: 0;
}

.article-content li {
    line-height: 2em;
}
